h1{
    color: red;
    text-align: center;
}

.name{
    text-align: center;
    color: orange;
}

.student{
    text-align: center;
    color: blueviolet;
}
p{
    text-align: center;
    color: dimgray;
}